{% if Order.Payment.method_class == 'Plugin\\SamplePayment42\\Service\\Method\\CreditCard' %}
    <script>
     $(function () {
         $(".ec-orderPayment").last().after($("#credit").detach());
     });
    </script>
    <div id="credit" class="ec-orderPaymentCredit">
        <div class="ec-rectHeading">
            <h2>クレジットカード番号(下4桁)</h2>
        </div>
        <div class="ec-input">
            {{ Order.sample_payment_card_no_last4 }}
        </div>
    </div>
{% endif %}
