{#
    Shopping/confirm.twigに以下のスニペットを追記
    {{ include('@SamplePayment/cvs_confirm.twig', ignore_missing=true) }}
#}
{% if Order.Payment.getMethodClass == 'Plugin\\SamplePayment\\Service\\Method\\Convenience' %}
    <div class="ec-orderPayment">
        <div class="ec-rectHeading">
            <h2>コンビニ決済</h2>
        </div>
        <div class="ec-radio">
            {% if form.SamplePaymentCvsType.vars.data.name is defined %}
                {{ form.SamplePaymentCvsType.vars.data.name }}
            {% endif %}
        </div>
    </div>
{% endif %}
