<script>
    $(function () {
        $('#sample_payment_mypage_card_info').appendTo($('div.ec-navlistRole > ul'));
    });
</script>

<li id="sample_payment_mypage_card_info" class="ec-navlistRole__item">
    <a href="{{ url('sample_payment_mypage_card_info') }}">カード情報変更</a>
</li>
